[Unit]
Description=Create templated configs
After=cloud-final.service
Before=nginx.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/templates.sh

[Install]
WantedBy=multi-user.target
